---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("/assets/images/banner_graph-buddy_mobile.png") !important;
  background-position: center;
  background-size: cover;
  max-height: 380px;

  @media (min-width: 1025px) {
    background-image: url("/assets/images/banner_graph-buddy.png") !important;
  }
}

ol ul {
  list-style-type: circle;
}

li input {
  margin-right: 10px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #537da6;
}
